<h1>Episode Detail Page</h1>
<h2>Number: <%=@episode.number%></h2>
<h2>Date: <%=@episode.date%></h2>
<h3>Guest(s):</h3>
<ul>
  <% @episode.guests.each do |guest| %>
    <li><%= link_to guest.name, guest_path(guest) %></li>
  <% end %>
</ul>
